<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>
<title>Login</title>
<body>
    <div class="login">
        <label for="nombre">Nombre/s</label>
        <input type="text" id="nombre" placeholder="Robert Nesta">
        <br>
        <label for="Apellido">Apellido/s</label>
        <input type="text" id="apellido" placeholder="Marley">
        <br>
        <label for="mail">Correo electrónico</label>
        <input type="email" id="mail" placeholder="alguien@algo.com" required>
        <br>
        <label for="password">contraseña</label>
        <input type="password" minlength="8" id="password" placeholder="************" required>
        <br>

        <button class="boton-enviar" type="submit">Enviar</button>
        <br>
        <br>
        <a href="/user/registro">Eres nuevo?</a>
    </div>
    
</body>
</html>