<header>
        <a href="/" class="logo"><img src="/img/logo.jpeg" alt=""></a>
        <h1 class="titulo">Donde empieza la <span style="color: white">MÚSICA</span></h1>
        <div class="main-options">
            <ul class="options">
                <li><a href='#'><i class="fas fa-guitar"></i></a>
                <ul class="etiqueta">
                    <li>-</li>
                </ul>
            </li>    
                <li><a href="/productos/productDetail"><i class="fas fa-shopping-cart"></i></a>
                <ul class="etiqueta">
                    <li>Carrito</li>
                </ul>  
            </li>  
                <li><a href="/productos/create"><i class="fas fa-arrow-circle-up"></i></a>
                <ul class="etiqueta">
                    <li>Upload</li>
                </ul>   
            </li> 
                <li><a href="/user/login"><i class="fas fa-address-card"></i></a>
                <ul class="etiqueta">
                    <li>Login</li>
                </ul>        
                </li>
            </ul>
        </div>
    </header>