<footer>
    <ul class="pie">
        <li class="accion-pie"><a  href="#">Contacto</a></li>
        <li class="accion-pie"><a  href="#">Newsletter</a></li>
        <li class="accion-pie"><a  href="#">Nosotros</a></li>
        <li class="accion-pie"><a  href="#">Empleo</a></li>
    </ul>
</footer>