<header>
    <a href="/" class="logo"><img src="/img/logo.jpeg" alt=""></a>
    <h1 class="titulo">Donde empieza la <span style="color: white">MÚSICA</span></h1>
    <div class="main-options">
        <ul class="options">
            <li><a href='/login'><i class="fas fa-guitar"></i></a></li>
            <li><a href="/productDetail"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/cargaProductos"><i class="fas fa-arrow-circle-up"></i></a></li>
            <li><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </div>
</header>