<header>
    <img class="logo" src="/img/logo.jpeg" alt="">
    <h1 class="titulo">Donde empieza la <span style="color: white">MÚSICA</span></h1>
    <div class="main-options">
        <ul class="options">
            <li><a href="/productDetail"></a><i class="fas fa-guitar"></i></a></li>
            <li><a href="/productDetail"></a><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/productDetail"></a><i class="fas fa-globe-americas"></i></a></li>
            <li><a href="/productDetail"></a><i class="fas fa-bars"></i></a></li>
        </ul>
    </div>
</header>