<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head') %>
<title>Audio</title>
<%- include ('./partials/header') %>
<body class="bodydetalles">
        <div class="detalle-audio">
             <img src="/img/monitorII.jpeg" alt="">
                <p> -Bluetooth aptX. <br>
                    -Más de 30 horas de tiempo de reproducción inalámbrica. <br>
                    -Sonido Hi-Fi. <br>
                    -Perilla de control. <br>
                    -Comparte tu música por cable desde tus audífonos. <br>
                    -Diseño plegable. <br>
                    -Incluye Bolsa de transporte protectora. <br>
                    </p>
            <div class="info-audio">
                <article class="precio">$7 500</article>
                <select name="color" id="color">
                    <option value="negro">Negro</option>
                    <option value="blanco">Blanco</option>
                    </select>
                <button type="submit">Agregar</button>
            </div>
         </div>
            <%- include ('./partials/footer') %>
</body>
</html>