<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head') %>
<title>Music Store</title>
<%- include ('./partials/header') %>
<body class="cuerpo-de-la-web">
       
<div class="contenedor-slider">
    <div class="slider">    
     <ul>
         <li class="slide1"><h1>Ofertas de la semana</h1><i class="far fa-grin-hearts"></i></li>
         <li id="slide2"><img src="/img/bateria4.jpeg" alt=""></li>
         <li id="slide3"><img src="/img/bajobanner.jpeg" alt=""></li>
         <li id="slide3"><img src="/img/bannerslider.jpeg" alt=""></li>
     </ul>
    </div> 
</div>

    <!-- <img class="banner" src="/img/bannerfoto.jpg" alt="primerBanner"> -->

    <div class="cajas">
    
    <article class="producto">
        <a href="/guitarradetalle" ><img src="/img/guitarra.jpeg" alt="Guitarra"></a>
    <h3 class="guitarras">Guitarras</h3>
    </article> 
    
    <article class="producto">   
        <a href="/bajosdetalle" ><img src="/img/bajo.jpeg" alt="Bajo"></a>
    <h3 class="bajos">Bajos</h3>
    </article>
    
    <article class="producto">
        <a href="/audio" ><img src="/img/auricularesimg.jpeg" alt="Audio"></a>
    <h3 class="audio">Audio</h3>
    </article>
    
    <article class="producto">
        <a href="/bateriasdetalle" ><img src="/img/bateria.jpeg" alt="Baterías"></a>
    <h3 class="baterias">Baterías</h3>
    </article>    
    </div>

    <img class="banner" src="/img/segundobanner.jpg" alt="segundobanner">

<%- include ('./partials/footer') %>

</body>
</html>