<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Store</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <meta name="viewport" content="width=device-wid th, initial-scale=1">    
    <!--Esta etiqueta meta sirve para dejar listo el html para que nuestra página sea responsive a cualquier dispositivo-->
    <!--la otra parte necesaria para terminar de programar una página responsive son las medias queries que se colocan en el fondo del css-->
</head>
<header>
    <img class="logo" src="/static/img/logo.jpeg" alt="">
    <h1 class="titulo">Donde empieza la <span style="color: white">MÚSICA</span></h1>
    <div class="main-options">
        <ul class="options">
            <li><a href="/productDetail"></a><i class="fas fa-guitar"></i></a></li>
            <li><a href="/productDetail.html"></a><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/static/productDetail.html"></a><i class="fas fa-globe-americas"></i></a></li>
            <li><a href="/static/productDetail.html"></a><i class="fas fa-bars"></i></a></li>
        </ul>
    </div>
</header>
<body class="cuerpo-de-la-web">
    <video class="banner" src="/static/img/Rock Band Concert.mp4"></video>    
    <div class="cajas">
    <article class="producto">
        <a href="/detalles" ><img src="/static/img/frigobar.jpg" alt="lifestyle"></a>
    <h3 class="lifestyle">Lifestyle</h3>
    </article>
    <article class="producto">
        <a href="/detalles" ><img src="/static/img/guitarra.jpeg" alt="Guitarra"></a>
    <h3 class="guitarras">Guitarras</h3>
    </article> 
    <article class="producto">   
        <a href="/detalles" ><img src="/static/img/bajo.jpeg" alt="Bajo"></a>
    <h3 class="bajos">Bajos</h3>
    </article>
    <article class="producto-auricular">
        <a href="/detalles" ><img src="/static/img/auriculares.jpeg" alt="Sonido"></a>
    <h3 class="audio">Audio</h3>
    </article>
    <article class="producto">
        <a href="/detalles" ><img src="/static/img/bateria.jpeg" alt="Baterías"></a>
    <h3 class="baterias">Baterías</h3>
    </article>    
    </div>

    <img class="banner" src="/static/img/segundobanner.jpg" alt="segundobanner">

<footer>
    <ul class="pie">
        <li><a href="#"></a>Contacto</li>
        <li><a href="#"></a>Newsletter</li>
        <li><a href="#"></a>Nosotros</li>
        <li><a href="#"></a>Empleo</li>
    </ul>
</footer>

</body>
</html>