<!DOCTYPE html>
<html lang="es">

<%- include ('./partials/head') %>
<title>Music Store</title>
<%- include ('./partials/header') %>
<body class="cuerpo-de-la-web">
       
<div class="contenedor-slider">
    <div class="slider">    
     <ul>
         <li class="slide1"><h1>Ofertas de la semana</h1><i class="far fa-grin-hearts"></i></li>
         <li class="slide"><img src="/img/bateria4.jpeg" alt=""><h2>Baterías</h2><h5>Hasta 30% OFF</h5></li>
         <li class="slide"><img src="/img/bajobanner.jpeg" alt=""><h2>Bajos</h2>Hasta 10% OFF</li>
         <li class="slide"><img src="/img/bannerslider.jpeg" alt=""><h2>Accesorios</h2>Hasta 60% OFF</li>
     </ul>
    </div> 
</div>

    <!-- <img class="banner" src="/img/bannerfoto.jpg" alt="primerBanner"> -->

    <div class="cajas">
    
    <article class="producto">
        <a href="/guitarradetalle" ><img src="/img/guitarra.jpeg" alt="Guitarra"></a>
    <h3 class="guitarras">Guitarras</h3>
    </article> 
    
    <article class="producto">   
        <a href="/bajosdetalle" ><img src="/img/bajo.jpeg" alt="Bajo"></a>
    <h3 class="bajos">Bajos</h3>
    </article>
    
    <article class="producto">
        <a href="/audio" ><img src="/img/auricularesimg.jpeg" alt="Audio"></a>
    <h3 class="audio">Audio</h3>
    </article>
    
    <article class="producto">
        <a href="/bateriasdetalle" ><img src="/img/bateria.jpeg" alt="Baterías"></a>
    <h3 class="baterias">Baterías</h3>
    </article>    
    </div>

    <div class="contenedor-manual">
        <div class="slider-manual" id="slider-manual">
            <div class="slider__section"><img src="/img/frigobar.jpg" alt="" class="slider__img"></div>
            <div class="slider__section"><img src="/img/monitorII3.jpeg" alt="" class="slider__img"></div>
            <div class="slider__section"><img src="/img/acustica.jpeg" alt="" class="slider__img"></div>
            <div class="slider__section"><img src="/img/ropa.jpeg" alt="" class="slider__img"></div>
        </div>
    <div class="slider__btn slider__btn--right" id="btn-right">></div>
    <div class="slider__btn slider__btn--left" id="btn-left"><</div>
    </div>
   <script src="slider.js"></script>
<%- include ('./partials/footer') %>

</body>
</html>