<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<title>Not-found</title>
<body>
    <h1 class="Error">Oh oh!! Error 404. Aquí no hay nada</h1>
    <a href="/"><h3 class="Error">This is the way <i class="fab fa-mandalorian"></i></h3></a>
    <img class="Ierror" src="/img/brokenguitar.jpeg" alt="">
</body>
</html>