*{
    background-image: url(/img/instrumentos.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    /*box-sizing: border-box; me va a ayudar a que por más que cambie la pantalla del dispositivo no cambien las medidas relativas asignadas*/
    font-family: 'Amatic SC', cursive; 
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    width: 9vw;
    margin: 30%;
    border-radius: 15%;
}

.titulo{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    width: 50%;
    font-size: 6vw;
    margin: 5% 0%;
    position: relative;
    left: 3%;
    z-index: 1;
}

.options{
    list-style: none;
    display: flex;
    border: solid 1px black;
    align-content: center;
    margin: 30px 20px 20px 2px;
    padding: 2%;
    width: 50%;
    height: 3.5vw;
    position: relative;
    left: 30%;
    top: -2vw;
    background-image: initial;
    background-color: rgba(255, 255, 255, 0.7 )
}

.options i{
    color: rgb(0,0,0);
    background-image: initial;
    font-size: 2vw;
    position: absolute;
}

.options li {
    display: flex;
    margin: 5px;
    width: 25%;
    position: relative;
    bottom: 5px;
    left: -4px;
    background-image: initial;
    background-color: rgba(255, 255, 255, 0 );
}
	

li .etiqueta {
    display: none;
    transition: all 450ms;
}

/**  etiquetas bajo los botones del main-options */
li:hover .etiqueta {
    display: flex;
    position: relative;
    top: 5vw;
    right: 4rem;
    font-size: 2.5vw;
    width: 0;
    height: 0;
    z-index: 1;
}

/* desplegable del login */

.menuDesplegable{
margin-top: 11%;
margin-left: -3%;
}

.desplegable{
    position: absolute;
}

.containerLogin{
    display: block;
    padding: 0px;
    width: 0px;
}

.containerLogin:hover{
    display: block;
}

.form-box{
    width: 45vw;
    height: 60vh;
    background-image: initial;
    background-color: #fff;
    padding: 5%;
    z-index: 1;
    border-radius: 2%;
    position: relative;
    right: 60vw;
    overflow: hidden;
    text-align: center;
}

.button-box{
    width: 30vw;
    height: 30vh;
    border-radius: 3%;
    position: relative;
    background-image: initial;
    box-shadow: rgba(220, 220, 218, 1);
}

.presionar{
    cursor: pointer;
    background: transparent;
    position: relative;
    border-radius: 10%;
    width: 14vw;
    height: 6vh;
    background: linear-gradient(to right, rgba(138, 138, 138, 1), rgba(212, 212, 212, 1));
}

.presionar:hover{
    color:white;
}

#elegir{
    top: 0;
    border-radius: 15%;
    width: 100%;
    height: 15%;
    margin-left: 16%;
    background-image: initial;
    transition: 0.8s;
    font-size: 2vw;
}

.input-group{
    margin: 20% 15%;
    cursor: pointer;
    position: absolute;
    transition: 0.8s;
    height: 30vh;
    width: 35vw;
    background: center;
}

.input-field{
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
    margin-bottom: 5%
}


.input-group:hover button {
    background-image: initial;
    background-color: white;
    border: 3px rgb(247, 200, 112) solid;
    text-decoration: none;
    cursor: pointer;
}

.input-group:active button{
    background-image: initial;
    background-color: rgb(247, 200, 112);
    text-decoration: none;
    cursor: pointer;
}

.checkbox-button{
    margin: 3%;
    cursor: pointer;
}

.opciones-registro{
    text-align: center;
    font-size: 2vw;
}

#login{
    left: 0%;
}

#registrar{
    left: 155%;
}

.main-options{
    width: 30%;
    position: relative;
}

h1{ text-align: center;
    font-family: 'Pirata One', cursive;
    font-family: 'Staatliches', cursive;}

.Error {
    font-family: 'Amatic SC', cursive; 
    text-align: center;
    font-size: 7vw;
}

h3 .Error{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a h3{
    text-decoration: none;
    color: rgb(68, 53, 53);
    opacity: 0.4;
}

a h3:hover{
    transition: all 550ms;
    opacity: 1;
    color: black;
}

.Ierror{
    width: 75vw;
    margin-left: 13%;
}



nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    align-items: center;
    display: flex;
    margin: auto;
    padding: 0;
    width: 400%;
    animation: cambio 14s infinite;
    animation-direction: alternate;
}

.slider li{
    list-style: none;
    width: 25%;
    text-align: center;
}

.slider img{
    margin: 0px auto;
    width: 40vw;
    height: 20vh;
    text-align: center;
    object-fit: contain;
}

.slide1{
    display: flex;
    justify-content: space-between;
}

li i{
    position: relative;
    font-size: 10vw;
    margin-right: 15vw;
}

li h1{
    font-family: 'Amatic SC', cursive;
    font-size: 10vw;
    margin: auto 5%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.cajas{
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 450ms;
    margin: 2vw 0 0 0;
    
}

.producto{
    width: 50%;
}

.producto img{ 
    height: 80%;
    width: 90%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
    opacity: 0.3;
    border: 1px solid black;
    object-fit: cover;
}

.producto h3{
    display: none;
    position: relative;
    top: -100px;
    left: 10px;
    text-align: center;
    color: black;
    background-image: initial;
    background-color: white;
    width: 85%;
    font-size: 120%;
    transition: all 450ms;
}


.bajos, 
.baterias,
.audio{
    padding: 0px 0px 0px 13px;
}

.producto:hover h3{
display: flex;
border: solid 1px black;
}

.producto:hover img{
    opacity: 1;
}

.banner{
    display: flex;
    width: 50%;
    height: 50%;
    position: relative;
    margin: 0px auto;
}


footer{
    background-image: initial;
    background-color: rgba(255, 255, 255, 0.5 );
    border: solid 0.2px;
    line-height:0;
    margin-top: 40vw;
}

.pie{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0px;
    font-size: 3.5vw;
    padding: 0px 10px;
    text-align: center;
    list-style: none;
    margin: 10vw 0%;
    background-image: initial;
    background-color: rgba(255, 255, 255, 0);
}

.accion-pie{
    background-image: initial;
    background-color: rgba(255, 255, 255, 0 );
}

.accion-pie a{
    color: white;
    transition: all 450ms;
    z-index: 1;
    background-image: initial;
    background-color: rgba(255, 255, 255, 0 );
}

.accion-pie:hover a{
font-size: 5vw;
color: rgb(54, 53, 53);
background-image: initial;
background-color: rgba(255, 255, 255, 0 );
}
 
/* comienza el css dell detalle de productos */

.bodydetalles{
    margin: auto;
    padding: 1%;
}

.detalle-producto{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 30vw;
    width: 75vw;
    margin: 10% 10%;
}

.detalle-producto p{
overflow: auto;
}

.detalle-audio{
    display: flex;
    justify-content: space-between;
    height: 22vw;
    width: 75vw;
    margin: 10% 10%;
}

.detalle-audio p{
overflow: auto;
}

.imagen-descripcion{
    display: flex;
    flex-direction: row;
}


.info {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 90%;
    right: 40%;
    width: 75vw;
    height: 3vw;
    font-size: 1.5vw;
    margin: 0px -15%;
}

.info-audio {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 90%;
    right: 7%;
    width: 75vw;
    height: 3vw;
    font-size: 1.5vw;
    margin: 0px
}

.info-bateria {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 90%;
    right: 30%;
    width: 75vw;
    height: 3vw;
    font-size: 1.5vw;
    margin: 0px -15%;
}


.detalle-producto .precio{
    background-image: initial;
    background-color: rgba(255, 255, 255, 0.5 );
    z-index: 1;
}

.detalle-audio .precio{
    background-image: initial;
    background-color: rgba(255, 255, 255, 0.5 );
    z-index: 1;
}

.info select{
    background-image: initial;
    background-color: rgba(255, 255, 255, 0.5 );
    z-index: 1;
}

.info-audio select{
    background-image: initial;
    background-color: rgba(255, 255, 255, 0.5 );
    z-index: 1;
}

.detalle-producto img{
    width: 14vw;
    height: 100%;
}

.detalle-audio img{
    width: 30vw;
    height: 100%;
    margin-right: 2%;
    object-fit: contain;
}

.detalle-producto p{
    width: 75vw;
    height: 20vw;
    font-size: 1.85vw;
    position: relative;
    margin: 2% 3%;
}

.detalle-producto:hover button{
    background-image: initial;
    background-color: white;
    border: 3px rgb(247, 200, 112) solid;
    text-decoration: none;
}

.detalle-audio:hover button{
    background-image: initial;
    background-color: white;
    border: 3px rgb(247, 200, 112) solid;
    text-decoration: none;
}

.detalle-producto:active button{
    background-image: initial;
    background-color: rgb(247, 200, 112);
    text-decoration: none;
}

.detalle-audio:active button{
    background-image: initial;
    background-color: rgb(247, 200, 112);
    text-decoration: none;
}


/* Comienza el css del Login */

.login{
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 10% auto;
}

.login a{
    text-decoration: none;
    color: black;
}

.login a:hover{
    color: white;
}

.login input{
    background-image: initial;
    background-color: rgba(255, 255, 255, 0.5 );
}

.login select{
    background-image: initial;
    background-color: rgba(255, 255, 255, 0.5 );
}

.login input:focus{
    border-radius: 10%;
    border: 3px rgb(247, 200, 112) solid;
}

input, select{
    font-size: 2vw;
}

.boton-enviar:hover{
    background-image: initial;
    background-color: white;
    border: 3px rgb(247, 200, 112) solid;
    text-decoration: none;
}

.boton-enviar:active {
    background-image: initial;
    background-color: rgb(247, 200, 112);
    text-decoration: none;
}

/* comienza css de carga de productos */

.tipoProducto{
    display: flex;
    flex-direction: column;
};

.radio{
    border: violet solid 3px;
};


/* slider manual */

.contenedor-manual{
    width: 90%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slider-manual{
    display: flex;
    width: 90%;
    margin: 3vw auto;
    overflow: hidden;
}

.slider__section{
    overflow: hidden;
}

.slider__img{
    display: block;
    height: 35vw;
    width: 90vw;
    object-fit: cover;
    position: absolute;
}

.slider__btn{
    position: absolute;
    width: 3vw;
    height: 4.2vh;
    background: rgb(54, 54, 54, 0.5);
    transform: translateY(-50%);
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider__btn--right{
right: 2%;
}

.slider__btn--left{
    left: 2%;
}

.slider__btn:hover{
    background: rgb(122, 113, 122, 0.5);
}

.slide{
    font-size: 5vw;
    text-align: center;
}

.slide h2, h5{
    display: inline-block;
    margin: 0px;
}

.slide h2 {
    margin-right: 1%;
    margin-left: -10%;
    background: fixed;
}

@media(min-width: 361px){
   .options i{
    position: absolute;
   }

   .options li{
    margin: 11% 2%;
    left: 0px;
    bottom: 1.3vw;
   }

   .options a i{
       justify-content: space-between;
   }

   .options{
    width: 50%;
    position: relative;
    top: -7%;
}
}

@media(min-width: 450px){
    .options {top: 6%;}
}

@media(min-width: 600px){
    .options {top: 12%;}
}


@media(min-width: 814px){
    .options{
        top: 22%;
    }
    .slider img{ 
        width: 50vw;
        height: 30vh;
    }
}


/*
los estándares que se manejan para los medias queries son de:
576
768
992
1200 
*/