*{
    background-image: url(/static/img/instrumentos.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    /*box-sizing: border-box; me va a ayudar a que por más que cambie la pantalla del dispositivo no cambien las medidas relativas asignadas*/
    font-family: 'Amatic SC', cursive; 
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 12%;
    height: 12%;
    margin: 20px 10px;
    border-radius: 15%;
}

.titulo{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    width: 50%;
    font-size: 6vw;
    margin: 5% 0%;
}

.options{
    list-style: none;
    display: flex;
    border: solid 1px black;
    color: black;
    align-content: center;
    margin: 30px 20px 20px 2px;
    padding: 2%;
    width: 80%;
    height: 33%;
    position: relative;
    left: 4vw;
    top: -4vw;
}

.options li {
    display: flex;
    margin: 8px;
    width: 7%;
    position: relative;
    bottom: 5px;
    left: 5px;
}

.main-options{
    align-content: center;
    width: 35%;
}

h1{ text-align: center;
    font-family: 'Pirata One', cursive;
    font-family: 'Staatliches', cursive;}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cajas{
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all 450ms;
    margin: 10px 0px;
}

.producto img{ 
    height: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.producto h3{
    display: none;
    position: relative;
    top: -65px;
    left: 10px;
    text-align: center;
    color: black;
    background-image: initial;
    background-color: white;
    width: 80%;
    font-size: 120%;
    transition: all 450ms;
}

.producto-auricular h3{
    display: none;
    position: relative;
    top: -65px;
    left: 10px;
    text-align: center;
    color: black;
    background-image: initial;
    background-color: white;
    width: 80%;
    font-size: 120%;
    transition: all 450ms;
}

.bajos, 
.baterias,
.audio{
    padding: 0px 0px 0px 13px;
}

.producto:hover h3{
display: flex;
}

.producto-auricular:hover h3{
    display: flex;
    }

.producto-auricular{
    padding: 0px;
}

.producto-auricular img{ 
    display: flex;
    transition: all 450ms;
}

img{
    width: 80%;
    height: 80%;
    margin: 10px;
    transition: all 450ms;
}



.banner{
    display: flex;
    width: 75vw;
    position: relative;
    left: 14vw;
    margin: 0px;
}

.pie{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0px;
    color: white;
    font-size: 5vw;
    padding: 0px 10px;
    text-align: center;
    list-style: none;
    margin: 10vw 0%;
}

/* comienza el css dell detalle de productos */

.bodydetalles{
    margin: auto;
    padding: 1%;
}

.detalle-producto{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: auto;
}

.detalle-producto img{
    width: 10vw;
}

.detalle-producto p{
    width: 75vw;
    height: 50vw;
    font-size: 1.85vw;
    position: relative;
}

.detalle-producto .precio{
    width: 10vw;
    position: relative;
    top: 30vw;
    right: 53vw;
    font-size: 4vw;
    background-image: initial;
    background-color: rgba(255, 255, 255, 0.5 );
    z-index: 1;
}

.detalle-producto button{
    height: 7vw;
    position: relative;
    font-size: 6vw;
    top: 25vw;
    transition: all 450ms;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    top: 2vw;
}

.detalle-producto:hover button{
    background-image: initial;
    background-color: white;
    border: 3px rgb(247, 200, 112) solid;
    text-decoration: none;
}

.detalle-producto:active button{
    background-image: initial;
    background-color: rgb(247, 200, 112);
    text-decoration: none;
}

@media(min-width: 361px){
   .options i{
    font-size: 3.2vw;
   }

   .options li{
    margin: 9%;
    left: -2px;
   }

   .options a i{
       justify-content: space-between;
   }

   .options{
    width: 60%;
    height: 30%;
    position: relative;
    left: 25%;
    top: -2vw;
}



}

@media(min-width: 500px){
    .options{
    width: 60%;
    height: 30%;
    position: relative;
    left: 25%;
    top: 7%;
    }
}

@media(min-width: 814px){
    .options{
        top: 2.4vw;
    }
}

/*
los estándares que se manejan para los medias queries son de:
576
768
992
1200 
*/