<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>
<title>Baterías</title>
<%- include ('../partials/header') %>
<body class="bodydetalles">
    
    <div class="detalle-audio">
        <img src="/img/bateria1.jpeg" alt="">
        <p>The new Les Paul Standard returns to the classic design that made it relevant, played and loved -- shaping sound across generations and genres of music. It pays tribute to Gibson's Golden Era of innovation and brings authenticity back to life. The Les Paul Standard 50's has a solid mahogany body with a maple top, a rounded 50's-style mahogany neck with a rosewood fingerboard and trapezoid inlays. It's equipped with an ABR-1, the classic-style Tune-O-Matic bridge, aluminum stop bar tailpiece, vintage deluxe tuners with keystone buttons, and aged gold tophat knobs. The calibrated Burstbucker 1 (neck) and Burstbucker 2 (bridge) pickups are loaded with AlNiCo II magnets, audio taper potentiometers and orange drop capacitors.</p>
    <div class="info-bateria">
        <article class="precio">$21 000</article>
        <select name="tamañoBaterias" id="">
            <option value='10"'>10"</option>
            <option value='11"'>11"</option>
            <option value='12"'>12"</option>
            <option value='13"'>13"</option>
            <option value='14"'>14"</option>
            <option value='15"'>15"</option>
        </select>
        <button type="submit">Agregar</button>
    </div>
    </div>
    <br>
    <div class="detalle-audio">
            <img src="/img/bateria2.jpeg" alt="">
            <p>Often copied, but never surpassed, the Stratocaster is arguably the world’s most-loved electric guitar. Electrifying the music world since its debut in 1954, its natural, versatile sound made the Stratocaster the benchmark for exceptional guitar tones. The American Professional Stratocaster isn’t a re-imagining of the classic design; it’s the authentic original model, evolved.

                    This limited-edition model comes with a lightweight ash body in Antique Natural with a Tortoiseshell pickguard.</p>
        <div class="info-bateria">
            <article class="precio">$25 200</article>
            <select name="tamañoBaterias" id="">
                <option value='10"'>10"</option>
                <option value='11"'>11"</option>
                <option value='12"'>12"</option>
                <option value='13"'>13"</option>
                <option value='14"'>14"</option>
                <option value='15"'>15"</option>
            </select>
            <button type="submit">Agregar</button>
        </div>
        </div>
        <br>
        <div class="detalle-audio">
                <img src="/img/bateria3.jpeg" alt="">
                <p>Often copied, but never surpassed, the Stratocaster is arguably the world’s most-loved electric guitar. Electrifying the music world since its debut in 1954, its natural, versatile sound made the Stratocaster the benchmark for exceptional guitar tones. The American Professional Stratocaster isn’t a re-imagining of the classic design; it’s the authentic original model, evolved.
    
                        This limited-edition model comes with a lightweight ash body in Antique Natural with a Tortoiseshell pickguard.</p>
            <div class="info-bateria">
                <article class="precio">$19 599</article>
                <select name="tamañoBaterias" id="">
                    <option value='10"'>10"</option>
                    <option value='11"'>11"</option>
                    <option value='12"'>12"</option>
                    <option value='13"'>13"</option>
                    <option value='14"'>14"</option>
                    <option value='15"'>15"</option>
                </select>
                <button type="submit">Agregar</button>
            </div>
        </div>
            <br>
            <br>
        <div class="detalle-audio">
                <img src="/img/bateria4.jpeg" alt="">
                <p>The new Les Paul Standard returns to the classic design that made it relevant, played and loved -- shaping sound across generations and genres of music. It pays tribute to Gibson's Golden Era of innovation and brings authenticity back to life. The Les Paul Standard 50's has a solid mahogany body with a maple top, a rounded 50's-style mahogany neck with a rosewood fingerboard and trapezoid inlays. It's equipped with an ABR-1, the classic-style Tune-O-Matic bridge, aluminum stop bar tailpiece, vintage deluxe tuners with keystone buttons, and aged gold tophat knobs. The calibrated Burstbucker 1 (neck) and Burstbucker 2 (bridge) pickups are loaded with AlNiCo II magnets, audio taper potentiometers and orange drop capacitors.</p>
            <div class="info-bateria">
                <article class="precio">$26 500</article>
                <select name="tamañoBaterias" id="">
                    <option value='10"'>10"</option>
                    <option value='11"'>11"</option>
                    <option value='12"'>12"</option>
                    <option value='13"'>13"</option>
                    <option value='14"'>14"</option>
                    <option value='15"'>15"</option>
                </select>
                <button type="submit">Agregar</button>
            </div>
         </div>
            <%- include ('../partials/footer') %>
</body>
</html>